extends layout

block content
  h1= title
  h2 List of Target Devices 
  ul
    each device, d in devices
      l
        p Device ID: #{device.id} / Type: #{device.type} / Status: #{device.status} / Target: #{device.target} / RunID: #{device.runId}

  h2 Queue Run 
  ul
    each run, d in runOnList
      l
        p Run ID: #{run.id} / Platform: #{run.platform}

